// include custom theme
@import "custom";

.App {
  background: url("https://i.pinimg.com/originals/8d/f9/b7/8df9b7d887c6aa781145faed6e3fed54.jpg");
  overflow: hidden;
  border-radius: 0 !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  max-width: 100% !important;
  min-height: 100vh;
  filter: grayscale(100%);
}
.container {
  background: url("https://previews.123rf.com/images/ookasan/ookasan1811/ookasan181100014/112595414-white-concrete-texture-background-of-natural-cement-or-stone-old-texture-as-a-retro-pattern-wall-use.jpg");
  overflow: hidden;
  border-radius: 0 !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  filter: grayscale(100%);
  border-left: 0.5rem solid black;
  border-right: 0.5rem solid black;
  min-height: 100vh;
}

.jumbotron {
  background-color: transparent !important;
}

.cdm-prompt {
  background-color: black !important;
  color: white !important;
}
.blinking-text {
  animation: blinking 0.9s infinite;
  font-size: 20px;
}
@keyframes blinking {
  0% {
    color: white;
  }
  50% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:900");

$size: 35vw;
$shadow: 35;
$primary: white;
$secondary: black;

.wrapper {
  animation: sliding-background 40s linear infinite;
  background: url("https://images.unsplash.com/photo-1452697620382-f6543ead73b5")
    no-repeat left / 120%;
  height: 70%;
  text-align: center;
  width: 70%;
}

.title {
  background: $primary;
  color: $secondary;
  font-family: "Montserrat", sans-serif;
  font-size: $size;
  letter-spacing: 1vw;
  line-height: 100%;
  margin: 0;
  mix-blend-mode: lighten;
  text-transform: uppercase;
  $text-shadow: ();
  @for $i from 1 through $shadow {
    $text-shadow: $text-shadow, 1px * $i 1px * $i $secondary;
  }
  text-shadow: 0 0 0px, $text-shadow;

  &:before {
    color: $primary;
    content: attr(data-text);
    margin-left: -1%;
    margin-top: -1%;
    position: absolute;
  }
}

@keyframes sliding-background {
  0%,
  100% {
    background-position: 0 40%;
  }

  50% {
    background-position: 100% 40%;
  }
}
